<!DOCTYPE html>
<html lang="en" bs->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body id = "bodySearch">
    <header>
        <h1 class= "headerTitle">TheMovieWiki</h1>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container d-flex flex-column align-items-center">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="/trending">Trending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/searchMovie">Search</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Write Your Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/filmQuiz">Test Your Knowledge</a>
              </li>
              
            </ul>
          </div>
        </div>
        </nav>
      </header>
      <div class = "customizeQuiz">
    <h1>You scored <%= score %>/<%= total%></h1>
    <%if(typeof teamscore !== undefined){%>
    <h2>Your team's score is now <%= teamScore %></h2>
    <%}%>
</div>
</body>
</html>